*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply-box{
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #d86f6f;
    box-shadow: 4px 3px 5px rgba(74, 62, 62, 0.1);
    border-radius: 10px;
}

.title-small{
    font-size: 20px;
}

.form-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    gap: 20px;
}


.form-control{  
    color: rgb(3, 3, 70);
    display: flex;
    flex-direction: column;
}

.textarea-control{
    grid-column: 1/ span 2;
}

.textarea-control textarea{
    width: 100%;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input, select, textarea{
    padding: 6px 10px;
    border: 2px solid rgb(21, 6, 98);
    border-radius: 4px;
    font-size: 15px;
}

input:focus{
    border: 3px solid #0bcc48;
    outline-color: #008616;
    
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    
}

button{
    background-color: rgb(18, 77, 152);
    border: transparent solid 3px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    transition: 1s ease-in;
}

button:hover{
    background-color: rgb(162, 204, 204);
    border: red solid 3px;
    transition: 1s ease-out;
    cursor: pointer;
    
}

@media(max-width: 460px){
    .textarea-control{
    grid-column: 1/ span ;
}
    
};
